$accent-color: #F9DA61;
$positive-color: #3bb33b;
$neutral-color: #EAEEF2;
$overlay-color: rgba(0, 0, 0, 0.5);
$light-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
$light-radius: 4px;
$dark-color: #191919;
$dark-overlay-color: rgba(25, 25, 25, 0.1);
$light-color: #FCFDFF;
$second-light-color: #EAEEF2;
$text-color: #54616E;
$fast-transition: all .3s ease;
$infinite-animation: .6s ease-in-out infinite;